<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>登录</title>
    <script src="/static/js/jquery-1.12.4.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
  </head>

  <body style="background-image: url('/static/images/bg.jpg')">
    <div class="container">
      <form class="form-signin" action="/register/" method="post">
        {% csrf_token %}
          {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
          {% endif %}
        <h2 class="form-signin-heading">注册</h2>
        <label for="username">用户名</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="输入用户名" required autofocus>
        <label for="password">密码</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="输入密码" required>
        <label for="password2">确认密码</label>
        <input type="password" id="password2" name="password" class="form-control" placeholder="确认密码" required>
        <label for="email">邮箱</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="邮箱" required>
        <label for="mobile">手机号码</label>
        <input type="number" id="mobile" name="mobile" class="form-control" placeholder="手机号码" required>
          <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
      </form>
    </div>
  </body>
</html>
